*.egg-info
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
build/
dist/
docs/source/tutorial.ipynb
ioos_pkg_skeleton/_version.py

coverage.xml
gcm_filters/_version.py
*__pycache__


# docs
docs/_build
make.bat

# vim swapfiles
*.sw[a-z]
